.section1{
    background-image: url(../img/static-images.jpg);
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 120px;
    .row1{
        color: #e71c37;
        font-size: 30px;
        letter-spacing: 2px;
        i{
            margin-right: 10px;
        }
        @media screen and (max-width:386px) {
            i{
                font-size: 40px;
                margin-bottom: 20px;
            }
        }
    }
    @media screen and (max-width:573px) {
        .row1{
            font-size: 20px;
        }
    }
    .row2{
        padding-top: 15px;
        font-size: 60px;
        color: white;
        letter-spacing: 1px;
        font-weight: bolder;
    }
    @media screen and (max-width:573px) {
        .row2{
            font-size: 40px;
        }
    }
    @media screen and (max-width:295px) {
        .row2{
            font-size: 35px;
        }
    }
    .row3{
        padding-top: 15px;
        font-size: 17px;
        color: white;
    }
    .row4{
        padding-top: 35px;
        button{
            margin: 5px;
            width: 220px;
            height: 43px;
            letter-spacing: 2px;
            border-style: none;
            outline: none;
            border-radius: 3px;
            transition: .5s;
            font-size: 14px;
            font-weight: bold;
            
        }
        button:hover{
            background-color: #e71c37;
            color: white;
        }
        @media screen and (max-width:500px) {
            button{
                width: 110px;
                height: 40px;
            }
        }
    }
    .row5{
        padding-top: 35px;
        button{
            margin: 5px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border-style: none;
            outline: none;
            transition: .5s;
            color: #e71c37;
        }
        button:hover{
            background-color: #e71c37;
            color: white;
        }
    }   
        
    
}


