.section4{
    .row-main{
        .col1{
            padding-top: 200px;
            padding-bottom: 200px; 
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url(../img/gallery2.jpg);
            background-size: cover;
            
            button{
                display: block;
                width: 80px;
                height: 80px;
                border-style: none;
                border-radius: 50%;
                color: #e71c37; 
                font-size: 25px;
                i{
                    transition: 0.5s;
                }
            }
            @keyframes animate {
                0%{transform: translate(-50%,-50%) scale(0.5);}
                50%{opacity: 0;}
                100%{transform: translate(-50%,-50%) scale(1.5);}
            }
            button::before{
                content: "";
                position: absolute;
                padding: 6%;
                border: 1px solid white;
                top: 50%;
                left: 50%;
                bottom: 50%;
                right: 50%;
                border-radius: 50%;
                transform: translate(-50%,-50%) scale(1);
                transition: transform 1s;
                opacity: 0;
            }
            button::after{
                content: "";
                position: absolute;
                padding: 8%;
                border: 1px solid white;
                top: 50%;
                left: 50%;
                bottom: 50%;
                right: 50%;
                border-radius: 50%;
                transform: translate(-50%,-50%) scale(1);
                transition: transform 1s;
                opacity: 0;
            }
            button:hover i{
                color: gray;
            }      
            button:hover::before{     
                opacity: 0.3;
                animation: animate 1.5s linear infinite;
            }
            button:hover::after{     
                opacity: 0.7;
                animation: animate 1.5s linear infinite;
            }
           
        }
        .col2{
            .rowhead{
                .header{
                    font-size: 30px;
                    color: #e71c37;
                    font-weight: bold;
                }
                .linerow{
                    .line{
                        display: block;
                        text-align: center;
                        margin: 3px auto 5px;
                        height: 1px;
                        background-color: #dbdbdb;
                    }
                    .line1{
                        width: 200px;
                    }
                    .line2{
                        width: 150px;
                    }
                    .line3{
                        width: 100px;
                    }
                }
            }
            @media screen and (max-width:768px) {
                .rowhead{
                    padding-top: 50px;
                }
            }
            .rowtoggle{
                .r{
                    align-items: center;
                    height: 60px;
                    margin: 5px 0;
                    text-align: left;
                    // padding: 20px 0;
                    background-color: #f6f6f6;
                    flex-direction: column;
                    width: 100%;
                    .btnscroll1{
                        // height: 60px;
                        display: flex;
                        align-items: center;
                        height: 100%;
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        font-weight: bold;
                        text-align: left;
                        background-color: transparent;
                        border-style: none;
                        outline: none;
                        font-size: 17px;
                        letter-spacing: 1px;
                        transform: scale(0.1);
                        opacity: 0;
                        transition: 1.5s;
                        p{
                            padding: 0 5px;
                        }
                        span{
                            padding: 0 5px;
                            color: #e71c37;
                            background-color: white;
                        }
                    }
                    .animate{
                        transform: scale(1);
                        opacity: 1;
                    }
                }
                .content{
                    z-index: 111;
                    padding: 20px 0;
                    width: 100%;
                    padding-left: 20px;
                    display: none;
                    p{
                        letter-spacing: 1px;
                        color: #646a7c;
                        line-height: 24px;
                    }
                }
            }
            @media screen and (max-width:768px) {
                .rowtoggle{
                    padding-bottom: 50px;
                }
            }
        }
    }
}